<ion-view dash-screen view-title="Bites" class="bg3" >
    <ion-header-bar align-title="center" class="bar-balanced">
    	<div class="buttons">
    		<button class="button button-icon ion-ios-arrow-back" ng-click="goDash()">
    		</button>
    	</div>

    	<h1 class="title">Profile</h1>


    </ion-header-bar>

<ion-content scroll="true" delegate-handle="scrollArea2">
    <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
        <div class="item">
            <img src="{{profilePicture()}}" class="profile-avatar" ng-click="updatePicture()">
            <h2 style="text-align: center; margin: 5px 0; padding-bottom: 2px;">{{chef.name}}</h2>
            <div class="profile-rating-text" ng-show="chef.rating == -5"><h2 style="color: #67BF68;">Not Rated Yet!</h2></div>
            <div class="profile-rating" ng-show="chef.rating != -5">
                <div ng-repeat="star in hStars" class="hstars ion-ios-star"></div>
                <div ng-repeat="star in halfStars" class="halfstars ion-ios-star-half"></div>
                <div ng-repeat="star in uhStars" class="stars ion-ios-star-outline"></div>
            </div>

            <div class="item">
                <div id="chefTabs" class="row">
                    <div ng-repeat="tab in chefTabs" class="col" ng-class="tab.style" ng-click="onClickChefTab(tab)">
                        <h2 style="padding-bottom: 4px;">{{tab.title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <div ng-include="currentChefTab"></div>

        <script type="text/ng-template" id="current.html">
        <div id="current" ng-repeat="meal in currentChefMeals">
            <div ng-show="afield=true" class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px; margin-bottom:10px">
                <div class="item item-avatar">
                    <img src="{{meal.profilePicture}}">
                    <h2>{{meal.title}}</h2>
                    <p>By {{meal.userName}}</p>

                <h2 class="price" style="font-size: 2em;" align="right"><sup>$</sup>{{meal.price}}</h2>
                    
                <div class="buttons" style="float: right;">
                    <button class="button button-icon  ion-location" style="font-size: .9em; margin-right: -10px;"> {{  formatMealLocation(meal.mealLocation)}}</button>
                    <button class="button button-icon ion-clock" style="font-size: .9em;"> {{meal.pickup | amCalendar}} </button>
                </div>
            </div>

            
            <div class="item item-image" style="margin-top: -15px;" ng-click="toMeal(meal,chef._id)">
                <img src="{{meal.photo}}">
            </div>
            
                <div ng-show="yourAccount" >
                    <div class="row">
                        <div class="item col" ng-click="viewCustomerList(meal)" style="border-radius:0px; padding: 14px; border-right: 1px solid grey; text-align: center;">Customer List</div>
                        <div class="item col" ng-click="shareMeal(meal)" style="border-radius:0px; padding: 14px; border: 0; text-align: center;">Share</div>
                        
                    </div>
                    <div class="row">
                        <div class="button button-assertive col" ng-click="deleteMeal(meal._id); getChefMeals();" style="width: 100%;">Delete</div>
                    </div>
                 </div>

            <div class="item item-divider" ng-hide="yourAccount">
                <div class="buttons">
                    <button class="button button-icon ion-pizza" style= "float: left; display: inline-block;"> {{meal.maxOrder - meal.numOrder}} Meals Available</button>
                </div>

                <div class="buttons">
                    <button class="button button-balanced" ion-nav-animation="slide-in-up" style= "float: right; display: inline-block;" ng-click="toMeal(meal, meal.userOID)">Order</button>
                </div>
            </div>

        </div>
        </script>

        <script id="my-modal.html" type="text/ng-template">
          <ion-modal-view id="my-modal.html" class="bg3">
            <ion-header-bar class="bar-balanced">
              <h1 class="title">Customer List</h1>
                <div class="buttons">
                    <button class="button button-icon" ng-click="closeModal()">Close</button>
                </div>
            </ion-header-bar>
            <ion-content>
              <div ng-repeat="customer in orderCustomers">
                <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px; margin-bottom:10px">
                    <div class="item item-avatar">
                        <img src="{{customer.profilePicture}}" style="width: 70px; height:50px; margin-top: 10px;">
                        <h2>{{customer.name}}</h2> 
                        <h3>{{customer.email}}</h3>
                        <h3>{{customer.phone}}</h3>
                    </div>
                </div>
              </div>
              <div ng-show="noCustomers">
                <h6 style="text-align:center; color: grey; margin: 5px 20px 20px 20px;">Sorry, you don&#39;t have any orders yet. Check again later.</h6>
              </div>
            </ion-content>
          </ion-modal-view>
        </script>

        <script type="text/ng-template" id="past.html">
            <div id="past" ng-repeat="meal in pastChefMeals">
                <div class="list card" style="padding: 10px; margin: 0px 5% 5% 5%; border-radius:5px;">
                    <div class="row" style="">
                        <div class="col" style="margin-bottom: 5px; margin-top: -5px; border-bottom: 1px green solid; text-align: center;"> {{meal.title}} </div>
                    </div>
                    <div class="row" ng-show="meal.numOrder > 0">
                        <div class="col" style="text-align: center;">
                            <div class="hstars ion-ios-star" ng-show="meal.rating != -5" style="font-size: 22px;">{{meal.rating}}/5</div>
                            <div ng-show="meal.rating == -5" style="font-size: 22px;">No Ratings</div>
                        </div>
                        <div class="col" style="text-align: center;">
                            <div style="font-size: 20px;"> {{meal.numOrder}}/{{meal.maxOrder}} Sold</div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div> 

    

</ion-content>

</ion-view>
