<ion-view dash-screen view-title="Bites" class="bg2" >
    <ion-header-bar align-title="center" class="bar-balanced">
    	<div class="buttons">
    		<button class="button button-icon ion-ios-arrow-back" ng-click="goDash()">
    		</button>
    	</div>

    	<h1 class="title">Profile</h1>


    </ion-header-bar>

<ion-content scroll="true" delegate-handle="scrollArea2">
    <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
        <div class="item">
            <img src="{{chef.profilePicture}}" class="profile-avatar">
            <h2 style="text-align: center; margin: 5px 0; padding-bottom: 2px;">{{chef.name}}</h2>
            <div class="profile-rating-text" ng-show="chefRating"><h2 style="color: #67BF68;">Not Rated Yet!</h2></div>
            <div class="profile-rating" ng-show="!chefRating">
                <div ng-repeat="star in hStars" class="hstars ion-ios-star"></div>
                <div ng-repeat="star in halfStars" class="halfstars ion-ios-star-half"></div>
                <div ng-repeat="star in uhStars" class="stars ion-ios-star-outline"></div>
            </div>

            <div class="item">
                <div id="chefTabs" class="row">
                    <div ng-repeat="tab in chefTabs" class="col" ng-class="tab.style" ng-click="onClickChefTab(tab)">
                        <h2 style="padding-bottom: 4px;">{{tab.title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <div ng-include="currentChefTab"></div>

        <script type="text/ng-template" id="current.html">
        <div id="current" ng-repeat="meal in currentChefMeals" >
            <div ng-show="afield=true"class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
                <div class="item item-avatar">
                    <img src="{{meal.profilePicture}}">
                    <h2>{{meal.title}}</h2>
                    <p>By {{meal.userName}}</p>

                <!-- Might want to change this styling in the future -->
                <h2 style="font-size: 1.5em; color: green; position: absolute; right: 5px; top: 0;" align="right">${{formatPrice(meal.price)}}</h2>
                    
                <div class="buttons" style="float: right;">
                    <button class="button button-icon  ion-location" style="font-size: .9em; margin-right: -10px;"> {{  formatMealLocation(meal.mealLocation)}}</button>
                    <button class="button button-icon ion-clock" style="font-size: .9em;"> {{meal.pickup | amCalendar}} </button>
                </div>
            </div>

            
            <div class="item item-image" style="margin-top: -15px;" ng-click="toMeal(meal,chef._id)">
                <img src="{{meal.photo}}">
            </div>
            
            <div class="item item-divider">
                <div class="row">
                    <div ng-show="yourAccount" class="buttons" style="margin: 0 auto;">
                        <button class="button button-assertive" ng-click="deleteMeal(meal._id); getChefMeals();">Delete</button>
                    </div>
                    <div ng-show="yourAccount" class="buttons" style="margin: 0 auto;">
                        <button class="button button-balanced" ng-click="shareMeal(meal)">Share</button>
                    </div>






                    <div ng-show="yourAccount" class="buttons" style="margin: 0 auto;">
                        <button class="button button-balanced" ng-click="viewCustomerList(meal)">Customer List</button>
                    </div>


                    <button class="button button-icon ion-pizza" ng-hide="yourAccount" style= "float: left; display: inline-block;"> {{meal.maxOrder - meal.numOrder}} Meals Available</button>

                    <div ng-hide="yourAccount || (meal.maxOrder - meal.numOrder) <= 0" class="buttons" style="margin: 0 auto;">
                        <button class="button button-balanced" ng-click="toMeal(meal,chef._id)" style="float:right;">Order</button>
                    </div>
                    

                </div>
                </div>  
            </div>

        </div>
        </script>

        <script id="my-modal.html" type="text/ng-template">
          <ion-modal-view id="my-modal.html">
            <ion-header-bar>
              <h1 class="title">Customer List</h1>
                <div class="buttons">
                    <button class="button button-icon" ng-click="closeModal()">Close</button>
                </div>
            </ion-header-bar>
            <ion-content>
              <div ng-repeat="customer in orderCustomers">
                {{customer.name}}
              </div>
              <div ng-show="noCustomers">
                <h6 style="text-align:center">Sorry, you don&#39;t have any orders yet. Check again later.</h6>
              </div>
            </ion-content>
          </ion-modal-view>
        </script>

        <script type="text/ng-template" id="past.html">
            <div id="past" ng-repeat="meal in pastChefMeals">
                <div class="list card" style="padding: 10px; margin: 0px 5% 5% 5%; border-radius:5px;">
                    <div class="row" style="">
                        <div class="col" style="margin-bottom: 5px; margin-top: -5px; border-bottom: 1px green solid; text-align: center;"> {{meal.title}} </div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: center;">
                            <div class="hstars ion-ios-star" style="font-size: 22px;">{{meal.rating}}/5</div>
                        </div>
                        <div class="col" style="text-align: center;">
                            <div style="font-size: 20px;"> 3/{{meal.maxOrder}} Orders</div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div> 

    

</ion-content>

</ion-view>
