
<ion-view dash-screen view-title="Bites">

<ion-side-menus enable-menu-with-back-views="true">

<ion-side-menu side="left">
    <ion-header-bar align-title="center" class="bar-balanced">
      <h1 class="title">Your Bites</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="has-header">
        <div menu-close class="item" ng-show="isChef()" ng-click="goChef('null')">
          My Profile
        </div>
        <div menu-close class="item" ng-click="goMyOrders()">
          My Orders
        </div>
        <div menu-close class="item" ng-click="goSettings()">
          Settings
        </div>
    </ion-content>
</ion-side-menu>

<ion-side-menu-content>
    <ion-header-bar align-title="center" class="bar-balanced">
    	<div class="buttons">
    		<button class="button button-icon ion-navicon" ng-click="toggleLeft()">
    		</button>
    	</div>



    	
    	<h1 class="title"> Bites</h1>

    	<div class="buttons">
    		<button class="button button-icon ion-android-add" ng-click="goMeal()" ng-show="isChef()"></button> 
    	</div>

    </ion-header-bar>

<ion-content scroll="true" class="ng-class:{ 'bg2': meals.length  <= 1, 'bg3': meals.length > 1 };">




<ion-refresher on-refresh="doRefresh()" ></ion-refresher>

<span style="width:100%; display:block;">
  <div class="row" ng-show="meals.length == 0" style="text-align: center; color: grey; ">
	No meals are currently available for sale. Pull down to refresh. 
  </div>
  </span>

	<div ng-repeat="meal in meals">
	    <div class="list card" style="border-radius:5px; margin-bottom:-2%">

	    	<div class="item item-avatar">
	    		<img src="{{meal.profilePicture}}" ng-click="goChef(meal.userOID)">
	    		<h2>{{formatMealName(meal.title)}}</h2>
	    		<p class="chefDash" ng-click="goChef(meal.userOID)">By {{meal.userName}}</p>

	    		<!-- Might want to change this styling in the future -->
	    		<h2 class="price" style="font-size: 2em;" align="right"><sup>$</sup>{{meal.price}}</h2>
	    		
	    		<div class="buttons" style= "float: right;">
	    			<button class="button button-icon  ion-location" style="font-size: .9em; margin-right: -10px;"> {{formatMealLocation(meal.mealLocation)}}</button>

	    			<button class="button button-icon  ion-clock" style="font-size: .9em;"> {{meal.pickup | amCalendar}}</button>

	    			
	    		</div>
	   		</div>

	    	<div class="item item-image" style="margin-top: -15px;" ng-click="toMeal(meal, meal.userOID)">
	      		<img src="{{meal.photo}}">
	    	</div>
	    	
	    	<div class="item item-divider">
	    		<div class="buttons">
	    			<button class="button button-icon ion-pizza" style= "float: left; display: inline-block;"> {{meal.maxOrder - meal.numOrder}} Meals Available</button>
	    		</div>

	    		<div class="buttons">
	    			<button class="button button-balanced" ion-nav-animation="slide-in-up" style= "float: right; display: inline-block;" ng-click="toMeal(meal, meal.userOID)">Order</button>
	    		</div>
	    	</div>
	    </div>

	  </div>
  </ion-content>
</ion-side-menu-content>
</ion-side-menus>
</ion-view>
