
<ion-view dash-screen view-title="Bites">

<ion-side-menus enable-menu-with-back-views="true">

<ion-side-menu side="left">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Your Bites</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="has-header">
        <div menu-close class="item" ng-click="goChef('null')">
          My Profile
        </div>

        <div menu-close class="item" ng-click="goSettings()">
          Settings
        </div>
    </ion-content>
</ion-side-menu>

<ion-side-menu-content>
    <ion-header-bar class="bar-balanced">
    	<div class="buttons">
    		<button class="button button-icon ion-navicon" ng-click="toggleLeft()">
    		</button>
    	</div>

    	<h1 class="title">Bites</h1>

    	<div class="buttons">
    		<button class="button button-icon ion-android-add" ng-click="goMeal()"></button>
    	</div>

    </ion-header-bar>

<ion-content scroll="true" class="bg2">

<ion-refresher on-refresh="doRefresh()" ></ion-refresher>
    
	<div ng-repeat="meal in meals">
	    <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px; margin-bottom:10px">

	    	<div class="item item-avatar">
	    		<img src="img/avatar.jpg">
	    		<h2>{{meal.title}}</h2>
	    		<p class="chefDash" ng-click="goChef(meal.userOID)">By {{meal.userName}}</p>

	    		<!-- Might want to change this styling in the future -->
	    		<h2 style="font-size: 2em; color: green; position: absolute; right: 5px; top: 0;" align="right">${{meal.price}}</h2>
	    		
	    		<div class="buttons" style= "float: right;">
	    			<button class="button button-icon  ion-location" > {{meal.mealLocation}}</button>

	    			<button class="button button-icon  ion-clock"> {{meal.pickup | amCalendar}}</button>

	    			
	    		</div>
	   		</div>

	    	<div class="item item-image" style="margin-top: -15px;">
	      		<img src="img/foodcard.jpg">
	    	</div>
	    	
	    	<div class="item item-divider">
	    		<div class="buttons">
	    			<button class="button button-icon ion-person" style= "float: left; display: inline-block;"> {{meal.maxOrder}} Orders</button>
	    		</div>

	    		<div class="buttons">
	    			<button class="button button-balanced" ion-nav-animation="slide-in-up" style= "float: right; display: inline-block;" ng-click="toMeal(meal)">Order Now</button>
	    		</div>
	    	</div>
	    </div>

	  </div>
  </ion-content>
</ion-side-menu-content>
</ion-side-menus>
</ion-view>
