<ion-view dash-screen view-title="Bites"  class="bg2">
    <ion-header-bar class="bar-stable">
    	<div class="buttons">
    		<button class="button button-icon ion-navicon">
    		</button>
    	</div>

    	<h1 class="title">Bites</h1>

    	<div class="buttons">
    		<button class="button button-icon ion-android-add" ng-click="goMeal()"></button>
    	</div>

    </ion-header-bar>

<ion-content scroll="true">

<ion-refresher on-refresh="doRefresh()" ></ion-refresher>
    
	<div ng-repeat="meal in meals">
	    <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px; margin-bottom:10px">
	    	
	   
	    	<div class="item item-avatar">
	    		<img src="img/avatar.jpg">
	    		<h2>{{meal.name}}</h2>
	    		<p>By Robbie Netzorg</p>

	    		<!-- Might want to change this styling in the future -->
	    		<h2 style="font-size: 2em; color: green; position: absolute; right: 5px; top: 0;" align="right">$5</h2>
	    		
	    		<div class="buttons">
	    			<button class="button button-icon button-small ion-location" style= "float: right; display: inline-block;"> Lerner</button>
	    			<button class="button button-icon button-small ion-clock" style= "float: right; display: inline-block;"> 6:30pm </button>
	    		</div>
	   		</div>

	    	
	    	<div class="item item-image">
	      		<img src="img/foodcard.jpg">
	    	</div>
	    	
	    	<div class="item item-divider">
	    		<div class="buttons">
	    			<button class="button button-icon ion-person" style= "float: left; display: inline-block;"> 30 orders</button>
	    		</div>

	    		<div class="buttons">
	    			<button class="button button-balanced" style= "float: right; display: inline-block;">Order Now</button>
	    		</div>
	    	</div>
	    </div>

	  </div>
  </ion-content>

</ion-view>
