<ion-view dash-screen view-title="Bites" class="bg2" >
    <ion-header-bar align-title="center" class="bar-balanced">
    	<div class="buttons">
    		<button class="button button-icon ion-ios-arrow-back" ng-click="goDash()">
    		</button>
    	</div>

    	<h1 class="title">Bites</h1>

    	<div class="buttons">
    		<button class="button button-icon" ng-click="shareMeal(meal)">Share</button>
    	</div>

    </ion-header-bar>

<ion-content scroll="true" delegate-handle="scrollArea">
    <div>
        <div class="item item-image">
            <img src="{{meal.photo}}">
        </div>
        <div class="item">
            <h2 style="text-align: center; margin: 5px 0 10px 0; padding-bottom: 2px; text-overflow: clip;">{{meal.title}}</h2>
            <!--<h2 style="text-align: center; padding-bottom: 7px;">prepared by</h2>-->
            <img src="{{chef.profilePicture}}" class="profile-avatar">
            <h2 style="text-align: center; margin: 5px 0; padding-bottom: 2px;">by {{chef.name}}</h2>
            <div class="profile-rating">
                <div ng-repeat="star in hStars" class="hstars ion-ios-star"></div>
                <div ng-repeat="star in halfStars" class="halfstars ion-ios-star-half"></div>
                <div ng-repeat="star in uhStars" class="stars ion-ios-star-outline"></div>
            </div> 
        </div> 

        <div class="item item-text-wrap">
            <p style="text-align: center; font-size: 1.3em;">Description</p>
            <p style="text-align: center; font-size: 1.1em;">{{meal.description}}</p>
        </div>
        <div class="item item-text-wrap">

                <div id="about">
                    <p style="text-align: center; font-size: 1.3em;">About</p>
                    <div class="row">
                        
                        <p style="margin-left: 3px; font-size: 1em; color: green;" class="col button-icon ion-location"><span style="color: grey; margin-left: 2px; font-size: 1em;">  Location:</span></p>
                        
                        <p style="font-size: 1em; text-align: right; float: right;" class="col"> {{meal.mealLocation}} </p>
                    </div>
                    <div class="row">
                        <p style="font-size: 1em; color: green;" class="col button-icon ion-android-alarm-clock"><span style="color: grey; font-size: 1em;">  Order By:</span></p> 

                        <p style="font-size: 1em; text-align: right; float: right;" class="col">{{meal.deadline | amCalendar}} </p>
                    </div>

                    <div class="row">
                        <p style="font-size: 1em; color: green;" class="col button-icon ion-clock"><span style="color: grey; font-size: 1em;">  Pickup Time:</span></p>

                        <p style="font-size: 1em; text-align: right; float: right;" class="col">{{meal.pickup | amCalendar}}</p>
                    </div>

                    <div class="row">
                        <p style="margin-left: 3px; font-size: 1em; color: green;" class="col button-icon ion-pizza"><span style="margin-left: 5px; color: grey; font-size: 1em;">  Available:</span></p>

                        <p style="font-size: 1em; text-align: right; float: right;" class="col"> {{meal.maxOrder - meal.numOrder}} Meals</p>
                    </div>
                </div>
        </div>

        <div class="item item-text-wrap">
            <div id="ingredients">
                <p style="text-align: center; font-size: 1.3em;">Ingredients</p>
                <p style="font-size: 1.1em; text-align: center;">{{meal.ingredients}}</p>
            </div> 
        </div>
        <div class="item item-text-wrap">
            <div style="row">
                <div class="col" style="text-align: center;">
                    <h2 style="font-size: 2em; color: green;">${{formatPrice(meal.price)}}</h2>
                </div>
            </div>

        </div>
        <div class="item item-text-wrap button-balanced confirm" ng-click="toOrder()" style="text-align: center; padding: 25px;">
            Confirm Purchase
        </div>
</ion-content>

</ion-view>
