<ion-view dash-screen view-title="Bites" class="bg2" >
    <ion-header-bar align-title="center" class="bar-balanced">
    	<div class="buttons">
    		<button class="button button-icon ion-ios-arrow-back" ng-click="goDash()">
    		</button>
    	</div>

    	<h1 class="title">Bites</h1>

    	<div class="buttons">
    		<button class="button button-icon ion-android-add" ng-click="goMeal()"></button>
    	</div>

    </ion-header-bar>

<ion-content scroll="true">
    <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
        <div class="item item-avatar">
            <img src="img/avatar.jpg">
            <h2>{{meal.title}}</h2>
            <p>By {{meal.userName}}</p>

            <!-- Might want to change this styling in the future -->
            <h2 style="font-size: 2em; color: green; position: absolute; right: 5px; top: 0;" align="right">${{meal.price}}</h2>
                
            <div class="buttons" style="float: right;">
                <button class="button button-icon ion-location" > {{meal.mealLocation}} </button>
                <button class="button button-icon ion-clock" > {{meal.pickup | amCalendar}} </button>
            </div>
        </div>

            
        <div class="item item-image" style="margin-top: -15px;">
            <img src="img/foodcard.jpg">
        </div>
            
        <div class="item item-divider">
            <p> {{meal.description}} </p>
            <div class="row">
                <div class="buttons" style="margin: 0 auto;">
                    <button class="button button-balanced">Order Now</button>
                </div>
            </div>
        </div>  

    </div>

    <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
        <div class="item item-divider">
            <p align="center">The chef would love your feedback!</p>
        </div>
        <div class="rate">
            <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
        </div>

        <button style="margin: 5px auto 5px;" class="rate-button button button-small button-balanced" ng-click="submitRating()">Rate the Meal</button>

    </div>

    <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
        <div class="item item-divider">
            <div id="tabs">
                <div ng-repeat="tab in tabs" ng-class="tab.style" ng-click="onClickTab(tab)">
                    <div>
                        <h2 style="padding: 1px;font-size: 1.5em;">{{tab.title}}</h2>
                    </div>
                </div>

            </div>
        </div>

        <div class="item item-text-wrap">
            <div ng-include="currentTab"></div>

            <script type="text/ng-template" id="about.html">
                <div id="about">
                    <div class="row">
                        <p style="font-size: 1.1em;" class="col button-icon ion-android-alarm-clock"> Order By: </p>
                        <p style="font-size: 1.1em; float: right;" class="col"> {{meal.deadline | amCalendar}} </p>
                    </div>

                    <div class="row">
                        <p style="font-size: 1.1em;" class="col button-icon ion-clock"> Pickup Time: </p>
                        <p style="font-size: 1.1em; float: right" class="col">{{meal.pickup | amCalendar}}</p>
                    </div>

                    <div class="row">
                        <p style="font-size: 1.1em;" class="col button-icon ion-fork"> Max Order: </p>
                        <p style="font-size: 1.1em; float: right" class="col"> {{meal.maxOrder}} People</p>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="ingredients.html">
                <div id="ingredients">
                    <p style="font-size: 1.1em">{{meal.ingredients}}</p>
                </div>
            </script>
        </div>

</ion-content>

</ion-view>
