<ion-view dash-screen view-title="Bites" class="ng-class:{ 'bg2': noOrders, 'bg3': !noOrders };" >
    <ion-header-bar align-title="center" class="bar-balanced">
      <div class="buttons">
        <button class="button button-icon ion-ios-arrow-back" ng-click="goDash()">
        </button>
      </div>

      <h1 class="title">My Orders</h1>


    </ion-header-bar>

<ion-content scroll="true" delegate-handle="scrollArea3">
  
<div ng-show="noOrders && ready">
  <div class="row" style="text-align: center; color: grey;">
    Can't eat if you haven't ordered anything! Head on over to the dash to check out what's cooking!
  </div>
</div>

<div class="item" ng-show="!noOrders && ready">
  <div id="chefTabs" class="row">
    <div ng-repeat="tab in chefTabs" class="col" ng-class="tab.style" ng-click="onClickChefTab(tab)">
        <h2 style="padding-bottom: 4px;">{{tab.title}}</h2>
    </div>
  </div>
</div>

<div ng-repeat="order in currentOrders" ng-show="showCurrentOrders">
  <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px; margin-bottom:10px" ng-click="mealClicked(order._id)">
    <div class="item item-divider">
      <h2 style="text-align: center; padding-bottom: 2px;">{{order.title}} cooked by {{order.userName}}</h2>
    </div>
    <div class="item item-avatar">
      <img src="{{order.profilePicture}}" style="margin-top: 7px;">
      <h3>Pickup: {{order.pickup | amCalendar}}</h3>
      <h3>Where: {{order.mealLocation}}</h3>
      <h3>Chef's Phone: {{order.chefPhone}}</h3>
    </div>
  </div>
</div>

<div ng-repeat="order in pastOrders" ng-show="!showCurrentOrders">
  <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px; margin-bottom:10px">

    <div class="item item-avatar">
      <img src="{{order.profilePicture}}" style="width: 70px; height:50px; margin-top: 10px;">
      <h2>{{order.title}} cooked by {{order.userName}}</h2>
      <h2>Pickup: {{order.pickup | amCalendar}}</h2>
      <h2>{{order.description}}</h2>
      <div class="buttons" style="margin: 0 auto;" ng-show="showRatings(order)">
          <button class="button button-balanced" ng-click="goRatings(order)">Rate Now!</button>
      </div>

    </div>
  </div>
</div>

</ion-content>

</ion-view>
