<ion-view dash-screen view-title="Bites" class="bg2" >
    <ion-header-bar align-title="center" class="bar-balanced">
      <div class="buttons">
        <button class="button button-icon ion-ios-arrow-back" ng-click="goDash()">
        </button>
      </div>

      <h1 class="title">My Orders</h1>


    </ion-header-bar>

<ion-content scroll="true">
  
<div ng-show="noOrders">
  <p>What's wrong with you? You havn't made any orders...</p>
</div>

<div class="item">
  <div id="chefTabs" class="row">
    <div ng-repeat="tab in chefTabs" class="col" ng-class="tab.style" ng-click="onClickChefTab(tab)">
        <h2 style="padding-bottom: 4px;">{{tab.title}}</h2>
    </div>
  </div>
</div>

<div ng-repeat="order in currentOrders" ng-show="showCurrentOrders" ng-click="mealClicked()">
  <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px; margin-bottom:10px">

    <div class="item item-avatar">
      <img src="{{order.photo}}" style="width: 70px; height:50px; margin-top: 10px;">
      <h2>{{order.title}} cooked by {{order.userName}}</h2>
      <h2>Pickup: {{order.pickup | amCalendar}}</h2>
      <h2>{{order.description}}</h2>
    </div>
  </div>
</div>

<div ng-repeat="order in pastOrders" ng-show="!showCurrentOrders">
  <div class="list card" style="margin-left:5%; margin-right:5%; border-radius:5px; margin-bottom:10px">

    <div class="item item-avatar">
      <img src="{{order.photo}}" style="width: 70px; height:50px; margin-top: 10px;">
      <h2>{{order.title}} cooked by {{order.userName}}</h2>
      <h2>Pickup: {{order.pickup | amCalendar}}</h2>
      <h2>{{order.description}}</h2>
    </div>
  </div>
</div>

</ion-content>

</ion-view>
