<ion-view view-title="New Meal Screen" hide-nav-bar="true" class="bg2">

  <ion-content scroll="false">
    
    <div class = "splashtext" align="center" style="margin-top:10%;">

		<img ng-src="img/LogoNoText.jpg" style="width:20%;" align="middle">

    </div>

    <div class="card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
      <div class="item item-text-wrap">
        <label class="item item-input">
              <input type="text" placeholder="Meal Name" ng-model="data.title">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Price" ng-model="data.price">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Order Deadline" ng-model="data.orderDeadline">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Pickup Time" ng-model="data.pickup">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Max Order" ng-model="data.maxOrder">
        </label>
        <label class="item item-input">
           <input type="text" placeholder="Your Name" ng-model="data.name">
        </label>

        <button class="button button-block button-balanced" ng-click="newMeal()" style="border-radius:4px;">
          Add Meal
        </button>


        


      </div>
    </div>



  </ion-content>

</ion-view>
