<ion-view login-screen view-title="Register Screen" hide-nav-bar="true" class="bg2">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <ion-content>
    
    <div class = "splashtext" align="center" style="margin-top:10%;">

		<img ng-src="img/LogoNoBackground.png" style="width:20%;" align="middle">

    </div>

    <div class="card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
      <div class="item item-text-wrap">
      
        <label class="item item-input">
              <input type="text" placeholder="Name" ng-model="data.realname">
          </label>

         <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="data.email">
          </label>
         <label class="item item-input">
              <input type="tel" placeholder="Phone Number" ng-model="data.phone">
          </label>

          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Confirm Password" ng-model="data.confirm">
          </label>
          
          <ion-checkbox ng-model="data.chef" >Do you want to be a Chef?</ion-checkbox>
          <div style="width: 100%; padding: 15px;">
            <a href="http://www.bitesapp.com">Link to Terms of Service</a>
          </div>
          <ion-checkbox ng-model="data.agreedToTerms">I have read and agree to the Terms of Service</ion-checkbox>

        <button class="button button-block button-balanced" ng-click="registerLocal()" style="border-radius:4px;">
          Sign Up
        </button>


        <div class="button-bar">
          <a class="button button-outline button-balanced" ui-sref="preapp.loginscreen">Log In</a>
        </div>


      </div>
    </div>



    <div style="padding-left:5%; padding-right:5%;">
      <button class="button button-block button-positive" ng-click="registerFacebook()">
        Sign Up with Facebook
      </button>
    </div>

  </ion-content>

</ion-view>
