<ion-view login-screen view-title="Register Screen" hide-nav-bar="true" class="bg2">

  <ion-content>
    
    <div class = "splashtext" align="center" style="margin-top:10%;">

		<img ng-src="img/LogoNoText.jpg" style="width:20%;" align="middle">

    </div>

    <div class="card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
      <div class="item item-text-wrap">
   
          <label class="item item-input">
              <input type="tel" placeholder="Phone Number" ng-model="data.phone">
          </label>

          <ion-checkbox ng-model="data.chef">Do you want to be a Chef?</ion-checkbox>

          <div class="item" ng-click="openWindow('http://www.bitesapp.com')">


            Click for Terms of Service
          </div>
          <ion-checkbox ng-model="data.agreedToTerms">I have read and agree to the Terms of Service</ion-checkbox>

      </div>
    </div>



    <div style="padding-left:5%; padding-right:5%;">
    <button class="button button-block button-balanced" ng-click="facebookFinish()">
  Accept Terms
</button>
    </div>



  </ion-content>

</ion-view>
