<ion-view login-screen view-title="Register Screen" hide-nav-bar="true" class="bg2">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <ion-content>
    
    <div class = "splashtext" align="center" style="margin-top:10%;">

		<img ng-src="img/LogoNoText.jpg" style="width:20%;" align="middle">

    </div>

    <div class="card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
      <div class="item item-text-wrap">
      
        <label class="item item-input">
              <input type="text" placeholder="Name" ng-model="data.realname">
          </label>

         <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="data.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Confirm Password" ng-model="data.confirm">
          </label>

          <label class="item item-input">
              <input type="text" placholder="Credit Card Number" ng-model="data.cardNumber"/>
          </label>
          <label class="item item-input">
              <input type="text" data-stripe="cvc" ng-model="data.CVC" placholder="cvc"/>
          </label>
          <label class="item item-input">
              <input type="text" ng-model="data.exp_month" data-stripe="exp-month"/>
          </label> 
          <label class="item item-input">
              <input type="text" ng-model="data.exp_year" data-stripe="exp-year"/>
          </label> 
          

          <ion-checkbox ng-model="data.chef" >Do you want to be a Chef?</ion-checkbox>
          <div style=" width: 100%;" ng-show="data.chef">
            <iframe  src="http://www.w3schools.com"></iframe>
          </div>
          <div style="width: 100%;" ng-hide="data.chef">
            <iframe src="http://www.w3schools.com/js/"></iframe>
          </div>
          <ion-checkbox ng-model="data.agreedToTerms">I have read and agree to the Terms of Services</ion-checkbox>


        <button class="button button-block button-balanced" ng-click="linkStripeAccount()" ng-show="data.chef" style="border-radius:4px;">
          Connect Chef Account with Stripe
        </button>

        <button class="button button-block button-balanced" ng-click="registerLocal()" style="border-radius:4px;">
          Sign Up
        </button>


        <div class="button-bar">
          <a class="button button-outline button-balanced" ui-sref="preapp.loginscreen">Log In</a>
        </div>


      </div>
    </div>



    <div style="padding-left:5%; padding-right:5%;">
      <button class="button button-block button-positive" ng-click="registerFacebook()">
        Sign Up with Facebook
      </button>
    </div>

  </ion-content>

</ion-view>
