<ion-view dash-screen view-title="Bites" class="bg2" >
    <ion-header-bar class="bar-balanced">
    	<div class="buttons">
    		<button class="button button-icon ion-ios-arrow-back" ng-click="goDash()">
    		</button>
    	</div>

    	<h1 class="title">Settings</h1>

    	<div class="buttons">
    		<button class="button button-icon ion-android-add" ng-click="goMeal()"></button>
    	</div>

    </ion-header-bar>

<ion-content scroll="true">
    <div class="item" ng-click="">
        {{chef}}
    </div>  
    <div class="item" ng-click="">
        Logout
    </div>
</ion-content>

</ion-view>
