<ion-view dash-screen view-title="Bites" class="bg2" >
    <ion-header-bar align-title="center" class="bar-balanced">
    	<div class="buttons">
    		<button class="button button-icon ion-ios-arrow-back" ng-click="goDash()">
    		</button>
    	</div>

    	<h1 class="title">Settings</h1>


    </ion-header-bar>

<ion-content scroll="true">

<ion-toggle class="item item-text-wrap"ng-model="isChef.checked" ng-change="toggleChef()">
    Chef Account
</ion-toggle>

    <!-- Stripe Credit Card Settings -->
<div style="font-size:18px;" class="item item-input" ng-show="savedCard">
  <!-- <input type="text" placeholder="Current Card On File" ng-model="data.cardNumber"/> -->
  Current Card On File:  &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull; {{lastFour}}
</div>

<div class="item item-input settingListUnactive" ng-show="!savedCard">
    No current card on file
</div>

<div class="item item-input settingList" ng-show="isChef.checked && !chefStripeConnected " class="item item-input button button-full button-balanced" ng-click="linkStripeAccount()">
  Connect Chef Account with Stripe  
</div>

<div class="item item-input" ng-show="isChef.checked && chefStripeConnected">
    <div class="item item-input">
      <!-- <input type="text" placeholder="Current Card On File" ng-model="data.cardNumber"/> -->
      <p style="font-size:18px;">Stripe successfully connected</p>
    </div>
</div>

<div class="item item-input settingList" ng-show="savedCard" ng-click="changeCreditCardInfo()">
  Change Credit Card Information
</div>

<div class="item item-input settingList" ng-show="!savedCard" ng-click="changeCreditCardInfo()">
  Enter Credit Card Information
</div>

<!-- we can add an automatic save
<div>
    <button class="button button-full button-balanced" ng-click="saveCreditCard()">
          Save
    </button>
</div>
-->




<div class ="item" style="background-color:white">
  <p style="font-size: 1.1em; padding-bottom: 5px; text-align: center;">Edit Profile Picture</p>
    
    <img src="{{self.profilePicture}}" class="profile-avatar">


    <div class="button-bar">
      <a class="button button-icon ion-camera" ng-click="fromCamera()" style="text-overflow: clip;"> Camera</a>
      <a class="button button-icon ion-camera" ng-click="fromLibrary()" style="text-overflow: clip;"> Library</a>
      <a class="button button-balanced" ng-click="saveImage()">Save</a>
    </div>

</div>

<div class="item button-full settingLogOut" ng-click="logOut()">
  Log Out
</div>
</ion-content>

</ion-view>
