<ion-view dash-screen view-title="Bites" class="bg3" >
    <ion-header-bar align-title="center" class="bar-balanced">
    	<div class="buttons">
    		<button class="button button-icon ion-ios-arrow-back" ng-click="goDash()">
    		</button>
    	</div>

    	<h1 class="title">Settings</h1>


    </ion-header-bar>

<ion-content scroll="true">

<div class="item item-divider">
  Chef Toggle
</div>
<ion-toggle class="item item-text-wrap"ng-model="isChef.checked" ng-change="toggleChef()">
    Chef Account
</ion-toggle>

<div class="item item-divider">
  Account Settings
</div>
    <!-- Stripe Credit Card Settings -->
<div class="item settingListUnactive" ng-show="savedCard" style="text-align: center;">
  <!-- <input type="text" placeholder="Current Card On File" ng-model="data.cardNumber"/> -->
  Current Card On File:  &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull; {{lastFour}}
</div>

<div class="item settingListUnactive" ng-show="!savedCard" style="text-align: center;">
    No current card on file
</div>

<div class="item settingList item-icon-right" ng-show="isChef.checked && !chefStripeConnected " class="item item-input button button-full button-balanced" ng-click="linkStripeAccount()">
  <i class="icon ion-arrow-graph-up-right"></i>
  Connect with Stripe  
</div>

<div class="item item-input item-icon-right settingList" ng-show="isChef.checked && chefStripeConnected">
  <!-- <input type="text" placeholder="Current Card On File" ng-model="data.cardNumber"/> -->
  <i class="icon ion-arrow-graph-up-right"></i>
  Stripe successfully connected
</div>

<div class="item item-input item-icon-right settingList" ng-show="savedCard" ng-click="changeCreditCardInfo()">
  <i class="icon ion-card"></i>
  Change Credit Card Information
</div>

<div class="item item-icon-right item-input settingList" ng-show="!savedCard" ng-click="changeCreditCardInfo()">
  <i class="icon ion-card"></i>
  Enter Credit Card Information
</div>

<!-- we can add an automatic save
<div>
    <button class="button button-full button-balanced" ng-click="saveCreditCard()">
          Save
    </button>
</div>
-->




<div class ="item" style="background-color:white">
  <p style="font-size: 1.1em; padding-bottom: 5px; text-align: center;">Edit Profile Picture</p>
    
    <img src="{{self.profilePicture}}" class="profile-avatar">


    <div class="button-bar">
      <a class="button button-icon ion-camera" ng-click="fromCamera()" style="text-overflow: clip;"> Camera</a>
      <a class="button button-icon ion-camera" ng-click="fromLibrary()" style="text-overflow: clip;"> Library</a>
      <a class="button button-balanced" ng-click="saveImage()">Save</a>
    </div>

</div>

<div class="item button-full settingLogOut" ng-click="logOut()">
  Log Out
</div>
</ion-content>

</ion-view>
