<ion-view login-screen view-title="Stripe Screen" hide-nav-bar="true" class="bg2">
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

  <ion-header-bar align-title="center" class="bar-balanced">
      <div class="buttons">
        <button class="button button-icon ion-ios-arrow-back" ng-click="cancelChangeCreditCardInfo()">
        </button>
      </div>

      <h1 class="title">Credit Card Info</h1>

  </ion-header-bar>

  <ion-content>
    
    <div class = "splashtext" align="center" style="margin-top:10%;">

		<img ng-src="img/LogoNoText.jpg" style="width:20%;" align="middle">

    </div>

    <div class="card" style="margin-left:5%; margin-right:5%; border-radius:5px;">
      <div class="item item-text-wrap">
          <label class="item item-input">
              <input type="text" placeholder="Credit Card Number" ng-model="data.cardNumber"/>
          </label>
          <label class="item item-input">
              <input type="text" data-stripe="cvc" ng-model="data.cvc" placeholder="CVC"/>
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Expiration Month MM" ng-model="data.exp_month" data-stripe="exp-month"/>
          </label> 
          <label class="item item-input">
              <input type="text" placeholder="Expiration Year YY" ng-model="data.exp_year" data-stripe="exp-year"/>
          </label> 


        <button class="button button-block button-balanced" ng-click="saveCreditCard()"style="border-radius:4px;">
          Save
        </button>

        <button class="button button-block button-balanced" ng-click="cancelChangeCreditCardInfo()"style="border-radius:4px;">
          Cancel
        </button>


      </div>
    </div>
  </ion-content>

</ion-view>
